---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="index.css" rel="stylesheet" />
    <title>
      wu.js &mdash; A lazy, functional ECMAScript 6 iterator library that ain't
      nuthin' ta f*ck wit.
    </title>
  </head>
  <body>
    <div class="container-fluid">

      <div class="row col-xs-12 col-md-3">
        <ul class="nav nav-sidebar affix">
          <li>
            <a href="#getting-started">Getting Started</a>
            <ul class="nav">
              <li>
                <a href="#quick-start">Quick Start</a>
              </li>
              <li>
                <a href="#basics">Basics</a>
              </li>
              <li>
                <a href="#examples">Examples</a>
              </li>
              <li>
                <a href="#basics">Engine and Browser Support</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#API">API</a>
            <ul class="nav">
              {% for p in site.posts %}
              <li>
                <a href="#{{ p.title | slugify }}">{{ p.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a href="#contributing">Contributing</a>
            <ul class="nav">
              <li>
                <a href="#tests">Tests</a>
              </li>
              <li>
                <a href="#documentation">Documentation</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="row col-xs-12 col-md-9">

        <header class="row col-xs-12">
          <h1><a href="#"><code>wu.js</code></a></h1>
          <p class="hidden-xs tagline">
            A lazy, functional ECMAScript 6 iterator library that ain't nuthin'
            ta f*ck wit.
          </p>
        </header>

        <section id="getting-started">
          <h3><a href="#getting-started">Getting Started</h3></a>

          <p>TODO</p>

          <section id="quick-start">
            <h4><a href="#quick-start">Quick Start</a></h4>
            {% highlight html %}
<script src="path/to/wu.js" type="application/javascript;version=1.8"></script>
{% endhighlight %}
            <p>Or</p>
            {% highlight bash %}
$ npm install wu
{% endhighlight %}
          </section>

          <section id="basics">
            <h4><a href="#basics">Basics</a></h4>
            <p>
              TODO
            </p>
          </section>

          <section id="examples">
            <h4><a href="#examples">Examples</a></h4>
            <p>
              TODO
            </p>
          </section>

          <section id="support">
            <h4><a href="#support">Engine and Browser Support</a></h4>
            <p>
              TODO
            </p>
          </section>
        </section>

        <section id="API">
          <h3><a href="#API">API</a></h3>
          {% for p in site.posts %}
          <section id="{{ p.title | slugify }}">
            {{ p.content }}
          </section>
          {% endfor %}
        </section>


        <section id="contributing">
          <h3><a href="#contributing">Contributing</a></h3>
          <p>
            TODO
          </p>

          <section id="tests">
            <h4><a href="#tests">Tests</a></h4>

            <h5>Running the Test Suite</h5>

            <p>
              <a href="test/test.html">Run the tests in your browser.</a>
            </p>

            <h5>Creating New Tests</h5>

            <p>
              To add a new test, find or create the appropriate file
              in <code>test/test-X.js</code>. If creating a new test file, make
              sure to add a script tag
              to <code>test/test.html</code>. <a href="http://visionmedia.github.io/mocha/">Mocha</a>
              is the test
              runner. <a href="http://chaijs.com/api/assert/">Chai's <code>assert</code>
              module</a> is used for assertions.
            </p>
          </section>

          <section id="documentation">
            <h4><a href="#documentation">Documentation</a></h4>

            <p>
              This documentation is created with the static site
              generator <a href="http://jekyllrb.com/">Jekyll</a>. To serve the
              docs locally and automatically recompile them on change, run:
            </p>

            <pre><code>$ npm run docs</code></pre>

            <p>
              The documentation will be served
              at <a href="http://0.0.0.0:4000">http://0.0.0.0:4000</a>.
            </p>

            <p>
              The sources for this documentation live in <code>index.html</code>
              and markdown files in the <code>_posts</code>
              directory. Each <code>wu</code> method has its own markdown file
              in the <code>_posts</code> directory, and the table of contents
              for the <code>wu</code> methods is generated automatically.
            </p>
          </section>
        </section>

      </div>

    </div>

    <script src="wu.js" type="application/javascript;version=1.8"></script>
  </body>
</html>
